# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Graphiques (trop lourds)
graphs/*.png
graphs/*.jpg

# Benchmark (trop volumineux)
graph_benchmark/*.json
graph_benchmark/*.pickle

# Config API
config.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
